In [158]:
import pandas as pd

In [159]:
data = pd.read_csv('bf3_data_2022_01_07.csv')

In [160]:
data.head()

,DATE_TIME,CB_FLOW,CB_PRESS,CB_TEMP,STEAM_FLOW,STEAM_TEMP,STEAM_PRESS,O2_PRESS,O2_FLOW,O2_PER,...,TOP_TEMP2,TOP_TEMP3,TOP_TEMP4,TOP_SPRAY,TOP_TEMP,TOP_PRESS_1,CO,CO2,H2,SKIN_TEMP_AVG
0,01-07-21 00:10,311727.0,3.15,129.0,4.0,213.0,3.34,3.20,7296.0,23.08,...,135.0,107.0,130.0,0.0,121.0,2.0,22.22,21.00,3.88,69.9
1,01-07-21 00:20,315163.0,3.16,129.0,4.0,209.0,3.35,3.20,7829.0,23.08,...,143.0,109.0,128.0,0.0,125.0,1.0,22.56,21.00,3.94,71.5
2,01-07-21 00:30,314595.0,3.16,128.0,4.0,205.0,3.35,3.21,7904.0,23.08,...,138.0,110.0,124.0,0.0,124.0,1.0,22.49,21.08,3.94,70.6
3,01-07-21 00:40,312465.0,3.16,127.0,4.0,200.0,3.35,3.21,7919.0,23.08,...,128.0,102.0,110.0,0.0,115.0,1.0,22.36,21.13,3.99,70.2
4,01-07-21 00:50,302981.0,3.11,126.0,4.0,194.0,3.29,3.16,7938.0,23.08,...,139.0,112.0,124.0,0.0,125.0,1.0,22.25,21.30,4.10,70.7

In [161]:
data['RATIO_CO-CO2']=data['CO']/data['CO2']

In [162]:
data.head()

,DATE_TIME,CB_FLOW,CB_PRESS,CB_TEMP,STEAM_FLOW,STEAM_TEMP,STEAM_PRESS,O2_PRESS,O2_FLOW,O2_PER,...,TOP_TEMP3,TOP_TEMP4,TOP_SPRAY,TOP_TEMP,TOP_PRESS_1,CO,CO2,H2,SKIN_TEMP_AVG,RATIO_CO-CO2
0,01-07-21 00:10,311727.0,3.15,129.0,4.0,213.0,3.34,3.20,7296.0,23.08,...,107.0,130.0,0.0,121.0,2.0,22.22,21.00,3.88,69.9,1.058095
1,01-07-21 00:20,315163.0,3.16,129.0,4.0,209.0,3.35,3.20,7829.0,23.08,...,109.0,128.0,0.0,125.0,1.0,22.56,21.00,3.94,71.5,1.074286
2,01-07-21 00:30,314595.0,3.16,128.0,4.0,205.0,3.35,3.21,7904.0,23.08,...,110.0,124.0,0.0,124.0,1.0,22.49,21.08,3.94,70.6,1.066888
3,01-07-21 00:40,312465.0,3.16,127.0,4.0,200.0,3.35,3.21,7919.0,23.08,...,102.0,110.0,0.0,115.0,1.0,22.36,21.13,3.99,70.2,1.058211
4,01-07-21 00:50,302981.0,3.11,126.0,4.0,194.0,3.29,3.16,7938.0,23.08,...,112.0,124.0,0.0,125.0,1.0,22.25,21.30,4.10,70.7,1.044601

In [163]:
feature_cols=['next_1hr','next_2hr','next_3hr','next_4hr']
for i in range(1,5):
    data[feature_cols[i-1]]=data['RATIO_CO-CO2'].shift(-5*i)

In [164]:
data.head(9)

,DATE_TIME,CB_FLOW,CB_PRESS,CB_TEMP,STEAM_FLOW,STEAM_TEMP,STEAM_PRESS,O2_PRESS,O2_FLOW,O2_PER,...,TOP_PRESS_1,CO,CO2,H2,SKIN_TEMP_AVG,RATIO_CO-CO2,next_1hr,next_2hr,next_3hr,next_4hr
0,01-07-21 00:10,311727.0,3.15,129.0,4.0,213.0,3.34,3.20,7296.0,23.08,...,2.0,22.22,21.00,3.88,69.9,1.058095,1.056872,1.066888,1.054041,1.047798
1,01-07-21 00:20,315163.0,3.16,129.0,4.0,209.0,3.35,3.20,7829.0,23.08,...,1.0,22.56,21.00,3.94,71.5,1.074286,1.059524,1.057183,1.040300,1.049906
2,01-07-21 00:30,314595.0,3.16,128.0,4.0,205.0,3.35,3.21,7904.0,23.08,...,1.0,22.49,21.08,3.94,70.6,1.066888,1.054028,1.046161,1.052855,1.058101
3,01-07-21 00:40,312465.0,3.16,127.0,4.0,200.0,3.35,3.21,7919.0,23.08,...,1.0,22.36,21.13,3.99,70.2,1.058211,1.058019,1.056524,1.050472,1.063619
4,01-07-21 00:50,302981.0,3.11,126.0,4.0,194.0,3.29,3.16,7938.0,23.08,...,1.0,22.25,21.30,4.10,70.7,1.044601,1.068949,1.059849,1.057237,1.058491
5,01-07-21 01:00,312520.0,3.20,126.0,4.0,189.0,3.39,3.25,7916.0,23.08,...,2.0,22.30,21.10,4.12,72.2,1.056872,1.066888,1.054041,1.047798,1.053227
6,01-07-21 01:10,313179.0,3.18,126.0,4.0,188.0,3.37,3.23,7925.0,23.08,...,1.0,22.25,21.00,4.09,73.6,1.059524,1.057183,1.040300,1.049906,1.064272
7,01-07-21 01:20,312075.0,3.19,126.0,4.0,189.0,3.38,3.24,7921.0,23.08,...,2.0,22.24,21.10,4.12,74.7,1.054028,1.046161,1.052855,1.058101,1.069162
8,01-07-21 01:40,306696.0,3.15,126.0,4.0,188.0,3.34,3.20,7917.0,23.08,...,1.0,22.43,21.20,4.10,75.0,1.058019,1.056524,1.050472,1.063619,1.070583

In [165]:
# predicting first hour
df1 = data.drop(columns = [ "RATIO_CO-CO2","CO","CO2","SKIN_TEMP_AVG"])
df1

,DATE_TIME,CB_FLOW,CB_PRESS,CB_TEMP,STEAM_FLOW,STEAM_TEMP,STEAM_PRESS,O2_PRESS,O2_FLOW,O2_PER,...,TOP_TEMP3,TOP_TEMP4,TOP_SPRAY,TOP_TEMP,TOP_PRESS_1,H2,next_1hr,next_2hr,next_3hr,next_4hr
0,01-07-21 00:10,311727.0,3.15,129.0,4.0,213.0,3.34,3.20,7296.0,23.08,...,107.0,130.0,0.0,121.0,2.0,3.88,1.056872,1.066888,1.054041,1.047798
1,01-07-21 00:20,315163.0,3.16,129.0,4.0,209.0,3.35,3.20,7829.0,23.08,...,109.0,128.0,0.0,125.0,1.0,3.94,1.059524,1.057183,1.040300,1.049906
2,01-07-21 00:30,314595.0,3.16,128.0,4.0,205.0,3.35,3.21,7904.0,23.08,...,110.0,124.0,0.0,124.0,1.0,3.94,1.054028,1.046161,1.052855,1.058101
3,01-07-21 00:40,312465.0,3.16,127.0,4.0,200.0,3.35,3.21,7919.0,23.08,...,102.0,110.0,0.0,115.0,1.0,3.99,1.058019,1.056524,1.050472,1.063619
4,01-07-21 00:50,302981.0,3.11,126.0,4.0,194.0,3.29,3.16,7938.0,23.08,...,112.0,124.0,0.0,125.0,1.0,4.10,1.068949,1.059849,1.057237,1.058491
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25400,31-12-21 23:10,278198.0,2.75,76.0,2.0,189.0,2.92,2.79,2628.0,22.25,...,108.0,122.0,0.2,111.0,1.0,3.10,NaN,NaN,NaN,NaN
25401,31-12-21 23:20,286486.0,2.80,77.0,1.0,190.0,2.97,2.84,2590.0,22.22,...,105.0,119.0,0.2,110.0,1.0,3.04,NaN,NaN,NaN,NaN
25402,31-12-21 23:30,284500.0,2.81,77.0,0.0,191.0,2.98,2.85,2592.0,22.20,...,108.0,115.0,0.1,110.0,1.0,2.99,NaN,NaN,NaN,NaN
25403,31-12-21 23:40,284455.0,2.83,77.0,1.0,190.0,3.00,2.87,2582.0,22.21,...,113.0,121.0,0.2,115.0,1.0,3.09,NaN,NaN,NaN,NaN
25404,31-12-21 23:50,274728.0,2.73,77.0,2.0,189.0,2.90,2.78,2593.0,22.23,...,111.0,121.0,0.1,116.0,1.0,3.23,NaN,NaN,NaN,NaN

In [166]:
df2 = df1.drop(columns = ["next_2hr","next_3hr","next_4hr","DATE_TIME"])
df2

,CB_FLOW,CB_PRESS,CB_TEMP,STEAM_FLOW,STEAM_TEMP,STEAM_PRESS,O2_PRESS,O2_FLOW,O2_PER,PCI,...,TOP_PRESS,TOP_TEMP1,TOP_TEMP2,TOP_TEMP3,TOP_TEMP4,TOP_SPRAY,TOP_TEMP,TOP_PRESS_1,H2,next_1hr
0,311727.0,3.15,129.0,4.0,213.0,3.34,3.20,7296.0,23.08,32.0,...,1.50,112.0,135.0,107.0,130.0,0.0,121.0,2.0,3.88,1.056872
1,315163.0,3.16,129.0,4.0,209.0,3.35,3.20,7829.0,23.08,30.0,...,1.49,120.0,143.0,109.0,128.0,0.0,125.0,1.0,3.94,1.059524
2,314595.0,3.16,128.0,4.0,205.0,3.35,3.21,7904.0,23.08,31.0,...,1.49,123.0,138.0,110.0,124.0,0.0,124.0,1.0,3.94,1.054028
3,312465.0,3.16,127.0,4.0,200.0,3.35,3.21,7919.0,23.08,36.0,...,1.49,119.0,128.0,102.0,110.0,0.0,115.0,1.0,3.99,1.058019
4,302981.0,3.11,126.0,4.0,194.0,3.29,3.16,7938.0,23.08,36.0,...,1.49,125.0,139.0,112.0,124.0,0.0,125.0,1.0,4.10,1.068949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25400,278198.0,2.75,76.0,2.0,189.0,2.92,2.79,2628.0,22.25,13.0,...,1.09,100.0,116.0,108.0,122.0,0.2,111.0,1.0,3.10,NaN
25401,286486.0,2.80,77.0,1.0,190.0,2.97,2.84,2590.0,22.22,12.0,...,1.09,103.0,113.0,105.0,119.0,0.2,110.0,1.0,3.04,NaN
25402,284500.0,2.81,77.0,0.0,191.0,2.98,2.85,2592.0,22.20,14.0,...,1.09,101.0,116.0,108.0,115.0,0.1,110.0,1.0,2.99,NaN
25403,284455.0,2.83,77.0,1.0,190.0,3.00,2.87,2582.0,22.21,15.0,...,1.09,108.0,119.0,113.0,121.0,0.2,115.0,1.0,3.09,NaN
25404,274728.0,2.73,77.0,2.0,189.0,2.90,2.78,2593.0,22.23,16.0,...,1.09,112.0,120.0,111.0,121.0,0.1,116.0,1.0,3.23,NaN

In [167]:
print(data.isna().sum())

DATE_TIME           0
CB_FLOW          2665
CB_PRESS           32
CB_TEMP            32
STEAM_FLOW       2665
STEAM_TEMP         32
STEAM_PRESS        32
O2_PRESS           32
O2_FLOW          2665
O2_PER             32
PCI              2665
ATM_HUMID          32
HB_TEMP          3817
HB_PRESS         2746
TOP_PRESS        2665
TOP_TEMP1          32
TOP_TEMP2          32
TOP_TEMP3          32
TOP_TEMP4          32
TOP_SPRAY          32
TOP_TEMP           32
TOP_PRESS_1      2665
CO               2665
CO2              2665
H2               2665
SKIN_TEMP_AVG       0
RATIO_CO-CO2     2665
next_1hr         2670
next_2hr         2675
next_3hr         2680
next_4hr         2685
dtype: int64

In [168]:
threshold = 0.5 * len(data)
data = data.dropna(thresh=threshold, axis=1)

In [169]:
for column in data.columns:
    if data[column].dtype == 'object':
        # For categorical data, fill NaNs with the mode
        data[column] = data[column].fillna(data[column].mode()[0])
    else:
        # For numerical data, fill NaNs with the mean
        data[column] = data[column].fillna(data[column].mean())

In [170]:
print(data.isna().sum())

DATE_TIME        0
CB_FLOW          0
CB_PRESS         0
CB_TEMP          0
STEAM_FLOW       0
STEAM_TEMP       0
STEAM_PRESS      0
O2_PRESS         0
O2_FLOW          0
O2_PER           0
PCI              0
ATM_HUMID        0
HB_TEMP          0
HB_PRESS         0
TOP_PRESS        0
TOP_TEMP1        0
TOP_TEMP2        0
TOP_TEMP3        0
TOP_TEMP4        0
TOP_SPRAY        0
TOP_TEMP         0
TOP_PRESS_1      0
CO               0
CO2              0
H2               0
SKIN_TEMP_AVG    0
RATIO_CO-CO2     0
next_1hr         0
next_2hr         0
next_3hr         0
next_4hr         0
dtype: int64

In [171]:
from sklearn.model_selection import train_test_split
X = df2.drop(columns = ["next_1hr"])
y = df2["next_1hr"]

In [172]:
print("NaN counts in X:\n", X.isna().sum())

NaN counts in X:
 CB_FLOW        2665
CB_PRESS         32
CB_TEMP          32
STEAM_FLOW     2665
STEAM_TEMP       32
STEAM_PRESS      32
O2_PRESS         32
O2_FLOW        2665
O2_PER           32
PCI            2665
ATM_HUMID        32
HB_TEMP        3817
HB_PRESS       2746
TOP_PRESS      2665
TOP_TEMP1        32
TOP_TEMP2        32
TOP_TEMP3        32
TOP_TEMP4        32
TOP_SPRAY        32
TOP_TEMP         32
TOP_PRESS_1    2665
H2             2665
dtype: int64

In [173]:
print("NaN counts in y:\n", y.isna().sum())

NaN counts in y:
 2670

In [174]:
X = X.dropna()
y = y.dropna()

In [175]:
data_cleaned = pd.concat([X, y], axis=1).dropna()

In [176]:
X = data_cleaned.drop(columns = ["next_1hr"])
y = data_cleaned["next_1hr"]

In [177]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.25, random_state=42)

# perform Linear Regression (1 hour)

In [178]:
from sklearn.linear_model import LinearRegression

In [179]:
model_for_1hr = LinearRegression()
model_for_1hr.fit(X_train, y_train)
model_for_1hr.score(X_test, y_test)

0.7429314673130452

In [180]:
y_val_pred = model_for_1hr.predict(X_val)

In [181]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, mean_absolute_percentage_error, mean_squared_log_error, mean_poisson_deviance, mean_gamma_deviance

In [182]:
print("mse",mean_squared_error(y_test, y_val_pred))
print("r2_score",r2_score(y_test, y_val_pred))
print("mae",mean_absolute_error(y_test, y_val_pred))
print("mape",mean_absolute_percentage_error(y_test, y_val_pred))

mse 0.057228741480324787
r2_score -0.8711851375169228
mae 0.09752569891033887
mape 0.08041317699292186

# DecisionTreeRegressor

In [183]:
from sklearn.tree import DecisionTreeRegressor

In [184]:
model_for_1hr_dtree = DecisionTreeRegressor()
model_for_1hr_dtree.fit(X_train, y_train)
model_for_1hr_dtree.score(X_test, y_test)

0.8036011088986399

In [185]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, mean_absolute_percentage_error, mean_squared_log_error, mean_poisson_deviance, mean_gamma_deviance, accuracy_score

y_pred = model_for_1hr_dtree.predict(X_test)
print("mse",mean_squared_error(y_test, y_pred))
print("r2",r2_score(y_test, y_pred))
print("mae",mean_absolute_error(y_test, y_pred))
print("mape",mean_absolute_percentage_error(y_test, y_pred))

mse 0.00600670726830233
r2 0.8036011088986399
mae 0.029009586895938116
mape 0.024514819180222344

 # KNeighborsRegressor

In [186]:
from sklearn.neighbors import KNeighborsRegressor

In [187]:
model_for_1hr_knn = KNeighborsRegressor()
model_for_1hr_knn.fit(X_train, y_train)

y_pred = model_for_1hr_knn.predict(X_test)
print("mse",mean_squared_error(y_test, y_pred))
print("r2",r2_score(y_test, y_pred))
print("mae",mean_absolute_error(y_test, y_pred))
print("mape",mean_absolute_percentage_error(y_test, y_pred))

mse 0.022547413479345402
r2 0.26277629211006004
mae 0.05150827477425061
mape 0.04128496995966611

 # RandomForestRegressor

In [188]:
from sklearn.ensemble import RandomForestRegressor

In [193]:
model_for_1hr_rf = RandomForestRegressor()
model_for_1hr_rf.fit(X_train, y_train)

y_pred = model_for_1hr_rf.predict(X_test)
print("mse",mean_squared_error(y_test, y_pred))
print("r2",r2_score(y_test, y_pred))
print("mae",mean_absolute_error(y_test, y_pred))
print("mape",mean_absolute_percentage_error(y_test, y_pred))

mse 0.0025916185320879813
r2 0.9152628914437394
mae 0.021041085100312783
mape 0.01786645324835606

# BaggingRegressor

In [80]:
from sklearn.ensemble import BaggingRegressor

In [81]:
model_for_1hr_bag = BaggingRegressor()
model_for_1hr_bag.fit(X_train, y_train)

y_pred = model_for_1hr_bag.predict(X_test)
print("mse",mean_squared_error(y_test, y_pred))
print("r2",r2_score(y_test, y_pred))
print("mae",mean_absolute_error(y_test, y_pred))
print("mape",mean_absolute_percentage_error(y_test, y_pred))

mse 0.0030394554114437536
r2 0.9006201491606406
mae 0.022632857448254422
mape 0.019084091349845733

# 2nd Hour

In [196]:
df1

,DATE_TIME,CB_FLOW,CB_PRESS,CB_TEMP,STEAM_FLOW,STEAM_TEMP,STEAM_PRESS,O2_PRESS,O2_FLOW,O2_PER,...,TOP_TEMP3,TOP_TEMP4,TOP_SPRAY,TOP_TEMP,TOP_PRESS_1,H2,next_1hr,next_2hr,next_3hr,next_4hr
0,01-07-21 00:10,311727.0,3.15,129.0,4.0,213.0,3.34,3.20,7296.0,23.08,...,107.0,130.0,0.0,121.0,2.0,3.88,1.056872,1.066888,1.054041,1.047798
1,01-07-21 00:20,315163.0,3.16,129.0,4.0,209.0,3.35,3.20,7829.0,23.08,...,109.0,128.0,0.0,125.0,1.0,3.94,1.059524,1.057183,1.040300,1.049906
2,01-07-21 00:30,314595.0,3.16,128.0,4.0,205.0,3.35,3.21,7904.0,23.08,...,110.0,124.0,0.0,124.0,1.0,3.94,1.054028,1.046161,1.052855,1.058101
3,01-07-21 00:40,312465.0,3.16,127.0,4.0,200.0,3.35,3.21,7919.0,23.08,...,102.0,110.0,0.0,115.0,1.0,3.99,1.058019,1.056524,1.050472,1.063619
4,01-07-21 00:50,302981.0,3.11,126.0,4.0,194.0,3.29,3.16,7938.0,23.08,...,112.0,124.0,0.0,125.0,1.0,4.10,1.068949,1.059849,1.057237,1.058491
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25400,31-12-21 23:10,278198.0,2.75,76.0,2.0,189.0,2.92,2.79,2628.0,22.25,...,108.0,122.0,0.2,111.0,1.0,3.10,NaN,NaN,NaN,NaN
25401,31-12-21 23:20,286486.0,2.80,77.0,1.0,190.0,2.97,2.84,2590.0,22.22,...,105.0,119.0,0.2,110.0,1.0,3.04,NaN,NaN,NaN,NaN
25402,31-12-21 23:30,284500.0,2.81,77.0,0.0,191.0,2.98,2.85,2592.0,22.20,...,108.0,115.0,0.1,110.0,1.0,2.99,NaN,NaN,NaN,NaN
25403,31-12-21 23:40,284455.0,2.83,77.0,1.0,190.0,3.00,2.87,2582.0,22.21,...,113.0,121.0,0.2,115.0,1.0,3.09,NaN,NaN,NaN,NaN
25404,31-12-21 23:50,274728.0,2.73,77.0,2.0,189.0,2.90,2.78,2593.0,22.23,...,111.0,121.0,0.1,116.0,1.0,3.23,NaN,NaN,NaN,NaN

In [197]:
df12 = df1.drop(columns = ["next_3hr","next_4hr","DATE_TIME"])
df12

,CB_FLOW,CB_PRESS,CB_TEMP,STEAM_FLOW,STEAM_TEMP,STEAM_PRESS,O2_PRESS,O2_FLOW,O2_PER,PCI,...,TOP_TEMP1,TOP_TEMP2,TOP_TEMP3,TOP_TEMP4,TOP_SPRAY,TOP_TEMP,TOP_PRESS_1,H2,next_1hr,next_2hr
0,311727.0,3.15,129.0,4.0,213.0,3.34,3.20,7296.0,23.08,32.0,...,112.0,135.0,107.0,130.0,0.0,121.0,2.0,3.88,1.056872,1.066888
1,315163.0,3.16,129.0,4.0,209.0,3.35,3.20,7829.0,23.08,30.0,...,120.0,143.0,109.0,128.0,0.0,125.0,1.0,3.94,1.059524,1.057183
2,314595.0,3.16,128.0,4.0,205.0,3.35,3.21,7904.0,23.08,31.0,...,123.0,138.0,110.0,124.0,0.0,124.0,1.0,3.94,1.054028,1.046161
3,312465.0,3.16,127.0,4.0,200.0,3.35,3.21,7919.0,23.08,36.0,...,119.0,128.0,102.0,110.0,0.0,115.0,1.0,3.99,1.058019,1.056524
4,302981.0,3.11,126.0,4.0,194.0,3.29,3.16,7938.0,23.08,36.0,...,125.0,139.0,112.0,124.0,0.0,125.0,1.0,4.10,1.068949,1.059849
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25400,278198.0,2.75,76.0,2.0,189.0,2.92,2.79,2628.0,22.25,13.0,...,100.0,116.0,108.0,122.0,0.2,111.0,1.0,3.10,NaN,NaN
25401,286486.0,2.80,77.0,1.0,190.0,2.97,2.84,2590.0,22.22,12.0,...,103.0,113.0,105.0,119.0,0.2,110.0,1.0,3.04,NaN,NaN
25402,284500.0,2.81,77.0,0.0,191.0,2.98,2.85,2592.0,22.20,14.0,...,101.0,116.0,108.0,115.0,0.1,110.0,1.0,2.99,NaN,NaN
25403,284455.0,2.83,77.0,1.0,190.0,3.00,2.87,2582.0,22.21,15.0,...,108.0,119.0,113.0,121.0,0.2,115.0,1.0,3.09,NaN,NaN
25404,274728.0,2.73,77.0,2.0,189.0,2.90,2.78,2593.0,22.23,16.0,...,112.0,120.0,111.0,121.0,0.1,116.0,1.0,3.23,NaN,NaN

In [198]:
X = df12.drop(columns = ["next_2hr"])
y = df12["next_2hr"]

In [199]:
print("NaN counts in X:\n", X.isna().sum())

NaN counts in X:
 CB_FLOW        2665
CB_PRESS         32
CB_TEMP          32
STEAM_FLOW     2665
STEAM_TEMP       32
STEAM_PRESS      32
O2_PRESS         32
O2_FLOW        2665
O2_PER           32
PCI            2665
ATM_HUMID        32
HB_TEMP        3817
HB_PRESS       2746
TOP_PRESS      2665
TOP_TEMP1        32
TOP_TEMP2        32
TOP_TEMP3        32
TOP_TEMP4        32
TOP_SPRAY        32
TOP_TEMP         32
TOP_PRESS_1    2665
H2             2665
next_1hr       2670
dtype: int64

In [200]:
print("NaN counts in y:\n", y.isna().sum())

NaN counts in y:
 2675

In [201]:
X = X.dropna()
y = y.dropna()

In [202]:
data_cleaned2 = pd.concat([X, y], axis=1).dropna()

In [203]:
X = data_cleaned2.drop(columns = ["next_2hr"])
y = data_cleaned2["next_2hr"]

In [204]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.25, random_state=42)

# perform Linear Regression (2 hour)

In [96]:
from sklearn.linear_model import LinearRegression

In [97]:
model_for_2hr = LinearRegression()
model_for_2hr.fit(X_train, y_train)
model_for_2hr.score(X_test, y_test)

0.9144751607710646

In [99]:
y_val_pred = model_for_2hr.predict(X_val)

In [100]:
print("mse",mean_squared_error(y_test, y_val_pred))
print("r2_score",r2_score(y_test, y_val_pred))
print("mae",mean_absolute_error(y_test, y_val_pred))
print("mape",mean_absolute_percentage_error(y_test, y_val_pred))

mse 0.0342386735450345
r2_score -1.245257048958436
mae 0.09050431084137478
mape 0.07702515229704714

# DecisionTreeRegressor(2 hour )

In [101]:
from sklearn.tree import DecisionTreeRegressor

In [153]:
model_for_2hr_dtree = DecisionTreeRegressor()
model_for_2hr_dtree.fit(X_train, y_train)
model_for_2hr_dtree.score(X_test, y_test)

0.9066632691102251

In [154]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, mean_absolute_percentage_error, mean_squared_log_error, mean_poisson_deviance, mean_gamma_deviance, accuracy_score

y_pred = model_for_2hr_dtree.predict(X_test)
print("mse",mean_squared_error(y_test, y_pred))
print("r2",r2_score(y_test, y_pred))
print("mae",mean_absolute_error(y_test, y_pred))
print("mape",mean_absolute_percentage_error(y_test, y_pred))

mse 0.002986090540348505
r2 0.9066632691102251
mae 0.02560206026489136
mape 0.02191465316764677

 # KNeighborsRegressor(2 hour)

In [104]:
from sklearn.neighbors import KNeighborsRegressor

In [155]:
model_for_2hr_knn = KNeighborsRegressor()
model_for_2hr_knn.fit(X_train, y_train)

y_pred = model_for_2hr_knn.predict(X_test)
print("mse",mean_squared_error(y_test, y_pred))
print("r2",r2_score(y_test, y_pred))
print("mae",mean_absolute_error(y_test, y_pred))
print("mape",mean_absolute_percentage_error(y_test, y_pred))

mse 0.020882845051094296
r2 0.34726142345323063
mae 0.05108195822990561
mape 0.04102934823505843

 # RandomForestRegressor(2 hour)

In [205]:
from sklearn.ensemble import RandomForestRegressor

In [207]:
model_for_2hr_rf = RandomForestRegressor()
model_for_2hr_rf.fit(X_train, y_train)

y_pred = model_for_2hr_rf.predict(X_test)
print("mse",mean_squared_error(y_test, y_pred))
print("r2",r2_score(y_test, y_pred))
print("mae",mean_absolute_error(y_test, y_pred))
print("mape",mean_absolute_percentage_error(y_test, y_pred))

mse 0.0008726250976249089
r2 0.9427761811811043
mae 0.017733715339502527
mape 0.015547094767860006

# BaggingRegressor(2 hour)

In [209]:
from sklearn.ensemble import BaggingRegressor

In [210]:
model_for_2hr_bag = BaggingRegressor()
model_for_2hr_bag.fit(X_train, y_train)

y_pred = model_for_2hr_bag.predict(X_test)
print("mse",mean_squared_error(y_test, y_pred))
print("r2",r2_score(y_test, y_pred))
print("mae",mean_absolute_error(y_test, y_pred))
print("mape",mean_absolute_percentage_error(y_test, y_pred))

mse 0.0008818745343372046
r2 0.942169634232086
mae 0.018704102672963338
mape 0.016454142693426706

# 3 Hour

In [211]:
df1

,DATE_TIME,CB_FLOW,CB_PRESS,CB_TEMP,STEAM_FLOW,STEAM_TEMP,STEAM_PRESS,O2_PRESS,O2_FLOW,O2_PER,...,TOP_TEMP3,TOP_TEMP4,TOP_SPRAY,TOP_TEMP,TOP_PRESS_1,H2,next_1hr,next_2hr,next_3hr,next_4hr
0,01-07-21 00:10,311727.0,3.15,129.0,4.0,213.0,3.34,3.20,7296.0,23.08,...,107.0,130.0,0.0,121.0,2.0,3.88,1.056872,1.066888,1.054041,1.047798
1,01-07-21 00:20,315163.0,3.16,129.0,4.0,209.0,3.35,3.20,7829.0,23.08,...,109.0,128.0,0.0,125.0,1.0,3.94,1.059524,1.057183,1.040300,1.049906
2,01-07-21 00:30,314595.0,3.16,128.0,4.0,205.0,3.35,3.21,7904.0,23.08,...,110.0,124.0,0.0,124.0,1.0,3.94,1.054028,1.046161,1.052855,1.058101
3,01-07-21 00:40,312465.0,3.16,127.0,4.0,200.0,3.35,3.21,7919.0,23.08,...,102.0,110.0,0.0,115.0,1.0,3.99,1.058019,1.056524,1.050472,1.063619
4,01-07-21 00:50,302981.0,3.11,126.0,4.0,194.0,3.29,3.16,7938.0,23.08,...,112.0,124.0,0.0,125.0,1.0,4.10,1.068949,1.059849,1.057237,1.058491
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25400,31-12-21 23:10,278198.0,2.75,76.0,2.0,189.0,2.92,2.79,2628.0,22.25,...,108.0,122.0,0.2,111.0,1.0,3.10,NaN,NaN,NaN,NaN
25401,31-12-21 23:20,286486.0,2.80,77.0,1.0,190.0,2.97,2.84,2590.0,22.22,...,105.0,119.0,0.2,110.0,1.0,3.04,NaN,NaN,NaN,NaN
25402,31-12-21 23:30,284500.0,2.81,77.0,0.0,191.0,2.98,2.85,2592.0,22.20,...,108.0,115.0,0.1,110.0,1.0,2.99,NaN,NaN,NaN,NaN
25403,31-12-21 23:40,284455.0,2.83,77.0,1.0,190.0,3.00,2.87,2582.0,22.21,...,113.0,121.0,0.2,115.0,1.0,3.09,NaN,NaN,NaN,NaN
25404,31-12-21 23:50,274728.0,2.73,77.0,2.0,189.0,2.90,2.78,2593.0,22.23,...,111.0,121.0,0.1,116.0,1.0,3.23,NaN,NaN,NaN,NaN

In [212]:
df13 = df1.drop(columns = ["next_4hr","DATE_TIME"])
df13

,CB_FLOW,CB_PRESS,CB_TEMP,STEAM_FLOW,STEAM_TEMP,STEAM_PRESS,O2_PRESS,O2_FLOW,O2_PER,PCI,...,TOP_TEMP2,TOP_TEMP3,TOP_TEMP4,TOP_SPRAY,TOP_TEMP,TOP_PRESS_1,H2,next_1hr,next_2hr,next_3hr
0,311727.0,3.15,129.0,4.0,213.0,3.34,3.20,7296.0,23.08,32.0,...,135.0,107.0,130.0,0.0,121.0,2.0,3.88,1.056872,1.066888,1.054041
1,315163.0,3.16,129.0,4.0,209.0,3.35,3.20,7829.0,23.08,30.0,...,143.0,109.0,128.0,0.0,125.0,1.0,3.94,1.059524,1.057183,1.040300
2,314595.0,3.16,128.0,4.0,205.0,3.35,3.21,7904.0,23.08,31.0,...,138.0,110.0,124.0,0.0,124.0,1.0,3.94,1.054028,1.046161,1.052855
3,312465.0,3.16,127.0,4.0,200.0,3.35,3.21,7919.0,23.08,36.0,...,128.0,102.0,110.0,0.0,115.0,1.0,3.99,1.058019,1.056524,1.050472
4,302981.0,3.11,126.0,4.0,194.0,3.29,3.16,7938.0,23.08,36.0,...,139.0,112.0,124.0,0.0,125.0,1.0,4.10,1.068949,1.059849,1.057237
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25400,278198.0,2.75,76.0,2.0,189.0,2.92,2.79,2628.0,22.25,13.0,...,116.0,108.0,122.0,0.2,111.0,1.0,3.10,NaN,NaN,NaN
25401,286486.0,2.80,77.0,1.0,190.0,2.97,2.84,2590.0,22.22,12.0,...,113.0,105.0,119.0,0.2,110.0,1.0,3.04,NaN,NaN,NaN
25402,284500.0,2.81,77.0,0.0,191.0,2.98,2.85,2592.0,22.20,14.0,...,116.0,108.0,115.0,0.1,110.0,1.0,2.99,NaN,NaN,NaN
25403,284455.0,2.83,77.0,1.0,190.0,3.00,2.87,2582.0,22.21,15.0,...,119.0,113.0,121.0,0.2,115.0,1.0,3.09,NaN,NaN,NaN
25404,274728.0,2.73,77.0,2.0,189.0,2.90,2.78,2593.0,22.23,16.0,...,120.0,111.0,121.0,0.1,116.0,1.0,3.23,NaN,NaN,NaN

In [213]:
X = df13.drop(columns = ["next_3hr"])
y = df13["next_3hr"]

In [214]:
print("NaN counts in X:\n", X.isna().sum())

NaN counts in X:
 CB_FLOW        2665
CB_PRESS         32
CB_TEMP          32
STEAM_FLOW     2665
STEAM_TEMP       32
STEAM_PRESS      32
O2_PRESS         32
O2_FLOW        2665
O2_PER           32
PCI            2665
ATM_HUMID        32
HB_TEMP        3817
HB_PRESS       2746
TOP_PRESS      2665
TOP_TEMP1        32
TOP_TEMP2        32
TOP_TEMP3        32
TOP_TEMP4        32
TOP_SPRAY        32
TOP_TEMP         32
TOP_PRESS_1    2665
H2             2665
next_1hr       2670
next_2hr       2675
dtype: int64

In [215]:
print("NaN counts in y:\n", y.isna().sum())

NaN counts in y:
 2680

In [216]:
X = X.dropna()
y = y.dropna()

In [217]:
data_cleaned3 = pd.concat([X, y], axis=1).dropna()

In [218]:
X = data_cleaned3.drop(columns = ["next_3hr"])
y = data_cleaned3["next_3hr"]

In [219]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.25, random_state=42)

# Linear Regression(3 hour)

In [132]:
from sklearn.linear_model import LinearRegression

In [134]:
model_for_3hr = LinearRegression()
model_for_3hr.fit(X_train, y_train)
model_for_3hr.score(X_test, y_test)

0.9023759203625786

In [135]:
y_val_pred = model_for_3hr.predict(X_val)

In [136]:
print("mse",mean_squared_error(y_test, y_val_pred))
print("r2_score",r2_score(y_test, y_val_pred))
print("mae",mean_absolute_error(y_test, y_val_pred))
print("mape",mean_absolute_percentage_error(y_test, y_val_pred))

mse 0.050382671504314906
r2_score -0.5748195803725831
mae 0.09158202994605542
mape 0.07509215926729275

# DecisionTreeRegressor(3 hour )

In [220]:
from sklearn.tree import DecisionTreeRegressor

In [221]:
model_for_3hr_dtree = DecisionTreeRegressor()
model_for_3hr_dtree.fit(X_train, y_train)
model_for_3hr_dtree.score(X_test, y_test)

0.9065886110440605

In [222]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, mean_absolute_percentage_error, mean_squared_log_error, mean_poisson_deviance, mean_gamma_deviance, accuracy_score

y_pred = model_for_3hr_dtree.predict(X_test)
print("mse",mean_squared_error(y_test, y_pred))
print("r2",r2_score(y_test, y_pred))
print("mae",mean_absolute_error(y_test, y_pred))
print("mape",mean_absolute_percentage_error(y_test, y_pred))

mse 0.002988479050670319
r2 0.9065886110440605
mae 0.025828496736914636
mape 0.02217666343743237

# KNeighborsRegressor(3 hour)

In [223]:
from sklearn.neighbors import KNeighborsRegressor

In [224]:
model_for_3hr_knn = KNeighborsRegressor()
model_for_3hr_knn.fit(X_train, y_train)

y_pred = model_for_3hr_knn.predict(X_test)
print("mse",mean_squared_error(y_test, y_pred))
print("r2",r2_score(y_test, y_pred))
print("mae",mean_absolute_error(y_test, y_pred))
print("mape",mean_absolute_percentage_error(y_test, y_pred))

mse 0.020882845051094296
r2 0.34726142345323063
mae 0.05108195822990561
mape 0.04102934823505843

 # RandomForestRegressor(3 hour)

In [228]:
from sklearn.ensemble import RandomForestRegressor

In [226]:
model_for_3hr_rf = RandomForestRegressor()
model_for_3hr_rf.fit(X_train, y_train)

y_pred = model_for_3hr_rf.predict(X_test)
print("mse",mean_squared_error(y_test, y_pred))
print("r2",r2_score(y_test, y_pred))
print("mae",mean_absolute_error(y_test, y_pred))
print("mape",mean_absolute_percentage_error(y_test, y_pred))

mse 0.001380156868815742
r2 0.9568602061760342
mae 0.018016929097184192
mape 0.015345917940548678

# BaggingRegressor(3 hour)

In [227]:
from sklearn.ensemble import BaggingRegressor

In [229]:
model_for_3hr_bag = BaggingRegressor()
model_for_3hr_bag.fit(X_train, y_train)

y_pred = model_for_3hr_bag.predict(X_test)
print("mse",mean_squared_error(y_test, y_pred))
print("r2",r2_score(y_test, y_pred))
print("mae",mean_absolute_error(y_test, y_pred))
print("mape",mean_absolute_percentage_error(y_test, y_pred))

mse 0.0018330849860358112
r2 0.9427029563478195
mae 0.019174194398878394
mape 0.016337334710142173

# 4TH Hour

In [257]:
df1

,DATE_TIME,CB_FLOW,CB_PRESS,CB_TEMP,STEAM_FLOW,STEAM_TEMP,STEAM_PRESS,O2_PRESS,O2_FLOW,O2_PER,...,TOP_TEMP3,TOP_TEMP4,TOP_SPRAY,TOP_TEMP,TOP_PRESS_1,H2,next_1hr,next_2hr,next_3hr,next_4hr
0,01-07-21 00:10,311727.0,3.15,129.0,4.0,213.0,3.34,3.20,7296.0,23.08,...,107.0,130.0,0.0,121.0,2.0,3.88,1.056872,1.066888,1.054041,1.047798
1,01-07-21 00:20,315163.0,3.16,129.0,4.0,209.0,3.35,3.20,7829.0,23.08,...,109.0,128.0,0.0,125.0,1.0,3.94,1.059524,1.057183,1.040300,1.049906
2,01-07-21 00:30,314595.0,3.16,128.0,4.0,205.0,3.35,3.21,7904.0,23.08,...,110.0,124.0,0.0,124.0,1.0,3.94,1.054028,1.046161,1.052855,1.058101
3,01-07-21 00:40,312465.0,3.16,127.0,4.0,200.0,3.35,3.21,7919.0,23.08,...,102.0,110.0,0.0,115.0,1.0,3.99,1.058019,1.056524,1.050472,1.063619
4,01-07-21 00:50,302981.0,3.11,126.0,4.0,194.0,3.29,3.16,7938.0,23.08,...,112.0,124.0,0.0,125.0,1.0,4.10,1.068949,1.059849,1.057237,1.058491
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25400,31-12-21 23:10,278198.0,2.75,76.0,2.0,189.0,2.92,2.79,2628.0,22.25,...,108.0,122.0,0.2,111.0,1.0,3.10,NaN,NaN,NaN,NaN
25401,31-12-21 23:20,286486.0,2.80,77.0,1.0,190.0,2.97,2.84,2590.0,22.22,...,105.0,119.0,0.2,110.0,1.0,3.04,NaN,NaN,NaN,NaN
25402,31-12-21 23:30,284500.0,2.81,77.0,0.0,191.0,2.98,2.85,2592.0,22.20,...,108.0,115.0,0.1,110.0,1.0,2.99,NaN,NaN,NaN,NaN
25403,31-12-21 23:40,284455.0,2.83,77.0,1.0,190.0,3.00,2.87,2582.0,22.21,...,113.0,121.0,0.2,115.0,1.0,3.09,NaN,NaN,NaN,NaN
25404,31-12-21 23:50,274728.0,2.73,77.0,2.0,189.0,2.90,2.78,2593.0,22.23,...,111.0,121.0,0.1,116.0,1.0,3.23,NaN,NaN,NaN,NaN

In [258]:
df14 = df1.drop(columns = ["DATE_TIME"])
df14

,CB_FLOW,CB_PRESS,CB_TEMP,STEAM_FLOW,STEAM_TEMP,STEAM_PRESS,O2_PRESS,O2_FLOW,O2_PER,PCI,...,TOP_TEMP3,TOP_TEMP4,TOP_SPRAY,TOP_TEMP,TOP_PRESS_1,H2,next_1hr,next_2hr,next_3hr,next_4hr
0,311727.0,3.15,129.0,4.0,213.0,3.34,3.20,7296.0,23.08,32.0,...,107.0,130.0,0.0,121.0,2.0,3.88,1.056872,1.066888,1.054041,1.047798
1,315163.0,3.16,129.0,4.0,209.0,3.35,3.20,7829.0,23.08,30.0,...,109.0,128.0,0.0,125.0,1.0,3.94,1.059524,1.057183,1.040300,1.049906
2,314595.0,3.16,128.0,4.0,205.0,3.35,3.21,7904.0,23.08,31.0,...,110.0,124.0,0.0,124.0,1.0,3.94,1.054028,1.046161,1.052855,1.058101
3,312465.0,3.16,127.0,4.0,200.0,3.35,3.21,7919.0,23.08,36.0,...,102.0,110.0,0.0,115.0,1.0,3.99,1.058019,1.056524,1.050472,1.063619
4,302981.0,3.11,126.0,4.0,194.0,3.29,3.16,7938.0,23.08,36.0,...,112.0,124.0,0.0,125.0,1.0,4.10,1.068949,1.059849,1.057237,1.058491
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25400,278198.0,2.75,76.0,2.0,189.0,2.92,2.79,2628.0,22.25,13.0,...,108.0,122.0,0.2,111.0,1.0,3.10,NaN,NaN,NaN,NaN
25401,286486.0,2.80,77.0,1.0,190.0,2.97,2.84,2590.0,22.22,12.0,...,105.0,119.0,0.2,110.0,1.0,3.04,NaN,NaN,NaN,NaN
25402,284500.0,2.81,77.0,0.0,191.0,2.98,2.85,2592.0,22.20,14.0,...,108.0,115.0,0.1,110.0,1.0,2.99,NaN,NaN,NaN,NaN
25403,284455.0,2.83,77.0,1.0,190.0,3.00,2.87,2582.0,22.21,15.0,...,113.0,121.0,0.2,115.0,1.0,3.09,NaN,NaN,NaN,NaN
25404,274728.0,2.73,77.0,2.0,189.0,2.90,2.78,2593.0,22.23,16.0,...,111.0,121.0,0.1,116.0,1.0,3.23,NaN,NaN,NaN,NaN

In [259]:
X = df14.drop(columns = ["next_4hr"])
y = df14["next_4hr"]

In [260]:
print("NaN counts in X:\n", X.isna().sum())

NaN counts in X:
 CB_FLOW        2665
CB_PRESS         32
CB_TEMP          32
STEAM_FLOW     2665
STEAM_TEMP       32
STEAM_PRESS      32
O2_PRESS         32
O2_FLOW        2665
O2_PER           32
PCI            2665
ATM_HUMID        32
HB_TEMP        3817
HB_PRESS       2746
TOP_PRESS      2665
TOP_TEMP1        32
TOP_TEMP2        32
TOP_TEMP3        32
TOP_TEMP4        32
TOP_SPRAY        32
TOP_TEMP         32
TOP_PRESS_1    2665
H2             2665
next_1hr       2670
next_2hr       2675
next_3hr       2680
dtype: int64

In [261]:
print("NaN counts in y:\n", y.isna().sum())

NaN counts in y:
 2685

In [263]:
X = X.dropna()
y = y.dropna()

In [264]:
data_cleaned4 = pd.concat([X, y], axis=1).dropna()

In [265]:
X = data_cleaned4.drop(columns = ["next_4hr"])
y = data_cleaned4["next_4hr"]

In [266]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.25, random_state=42)

# Linear Regression(4th hour)

In [267]:
from sklearn.linear_model import LinearRegression

In [268]:
model_for_4hr = LinearRegression()
model_for_4hr.fit(X_train, y_train)
model_for_4hr.score(X_test, y_test)

0.9392424506101166

In [269]:
y_val_pred = model_for_4hr.predict(X_val)

In [270]:
print("mse",mean_squared_error(y_test, y_val_pred))
print("r2_score",r2_score(y_test, y_val_pred))
print("mae",mean_absolute_error(y_test, y_val_pred))
print("mape",mean_absolute_percentage_error(y_test, y_val_pred))

mse 0.06779556360905399
r2_score -0.9372916429891749
mae 0.10219768831037568
mape 0.08347742581068007

# DecisionTreeRegressor(4 hour )

In [245]:
from sklearn.tree import DecisionTreeRegressor

In [246]:
model_for_4hr_dtree = DecisionTreeRegressor()
model_for_4hr_dtree.fit(X_train, y_train)
model_for_4hr_dtree.score(X_test, y_test)

0.9006674790138695

In [248]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, mean_absolute_percentage_error, mean_squared_log_error, mean_poisson_deviance, mean_gamma_deviance, accuracy_score

y_pred = model_for_4hr_dtree.predict(X_test)
print("mse",mean_squared_error(y_test, y_pred))
print("r2",r2_score(y_test, y_pred))
print("mae",mean_absolute_error(y_test, y_pred))
print("mape",mean_absolute_percentage_error(y_test, y_pred))

mse 0.003476143754263092
r2 0.9006674790138695
mae 0.025846191286241844
mape 0.02190532855825499

# KNeighborsRegressor(4 hour)

In [249]:
from sklearn.neighbors import KNeighborsRegressor

In [250]:
model_for_4hr_knn = KNeighborsRegressor()
model_for_4hr_knn.fit(X_train, y_train)

y_pred = model_for_4hr_knn.predict(X_test)
print("mse",mean_squared_error(y_test, y_pred))
print("r2",r2_score(y_test, y_pred))
print("mae",mean_absolute_error(y_test, y_pred))
print("mape",mean_absolute_percentage_error(y_test, y_pred))

mse 0.023894978557757657
r2 0.31718921113641607
mae 0.05435582296372143
mape 0.04302197521653228

# RandomForestRegressor(4 hour)

In [256]:
from sklearn.ensemble import RandomForestRegressor

In [255]:
model_for_4hr_rf = RandomForestRegressor()
model_for_4hr_rf.fit(X_train, y_train)

y_pred = model_for_4hr_rf.predict(X_test)
print("mse",mean_squared_error(y_test, y_pred))
print("r2",r2_score(y_test, y_pred))
print("mae",mean_absolute_error(y_test, y_pred))
print("mape",mean_absolute_percentage_error(y_test, y_pred))

mse 0.0018791465113780353
r2 0.9463024623050887
mae 0.019247429667279107
mape 0.01620542744713508

# BaggingRegressor(4 hour)

In [271]:
from sklearn.ensemble import BaggingRegressor

In [272]:
model_for_4hr_bag = BaggingRegressor()
model_for_4hr_bag.fit(X_train, y_train)

y_pred = model_for_4hr_bag.predict(X_test)
print("mse",mean_squared_error(y_test, y_pred))
print("r2",r2_score(y_test, y_pred))
print("mae",mean_absolute_error(y_test, y_pred))
print("mape",mean_absolute_percentage_error(y_test, y_pred))

mse 0.0019336365295216807
r2 0.9447453831813758
mae 0.02035086611993081
mape 0.017093498348839675